<form action="/postdate" method="post">
    <div class="input-group mb-3 mt-3">
        <span class="input-group-text" id="basic-addon1">datetime</span>
        <input name="waktu" type="datetime-local" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>